//---------------------------------------------------------------------------------------------------------
    File Name: index.pug
    Description: Bootstrap 5 CheatSheet Index page includes components and elements
  ---------------------------------------------------------------------------------------------------------//

extend ../base

block pageVars
  - var pageTitle    = "UI, Components, Elements"
  - var activeMenu   = "home"

block content
  include ../contents/classes/grid.html
  include ../contents/classes/typography.html
  include ../contents/classes/images.html
  include ../contents/classes/tables.html
  include ../contents/classes/figures.html
  include ../contents/classes/forms.html
  include ../contents/classes/input-group.html
  include ../contents/classes/floating-labels.html
  include ../contents/classes/form-layout.html
  include ../contents/classes/form-validation.html
  include ../contents/classes/accordion.html
  include ../contents/classes/alerts.html
  include ../contents/classes/badge.html
  include ../contents/classes/breadcrumb.html
  include ../contents/classes/buttons.html
  include ../contents/classes/button-group.html
  include ../contents/classes/button-plugin.html
  include ../contents/classes/card.html
  include ../contents/classes/carousel.html
  include ../contents/classes/collapse.html
  include ../contents/classes/dropdowns.html
  include ../contents/classes/list-group.html
  include ../contents/classes/modal.html
  include ../contents/classes/navs-tabs-pills.html
  include ../contents/classes/navbar.html
  include ../contents/classes/pagination.html
  include ../contents/classes/popovers.html
  include ../contents/classes/progress.html
  include ../contents/classes/scrollspy.html
  include ../contents/classes/spinners.html
  include ../contents/classes/toasts.html
  include ../contents/classes/tooltips.html
  include ../contents/classes/helpers.html
  include ../contents/classes/utility-borders.html
  include ../contents/classes/utility-colors.html
  include ../contents/classes/utility-display.html
  include ../contents/classes/utility-flex.html
  include ../contents/classes/utility-misc.html
  include ../contents/classes/utility-position.html
  include ../contents/classes/utility-spacing.html
  include ../contents/classes/utility-text.html

  //- modal snippet
  include ../contents/snippet.html
