//---------------------------------------------------------------------------------------------------------
    File Name: index.pug
    Description: Bootstrap 5 CheatSheet Index page includes components and elements
  ---------------------------------------------------------------------------------------------------------//

extend ../base

block pageVars
  - var pageTitle    = "UI, Components, Elements"

block content
  include ../contents/grid.html
  include ../contents/typography.html
  include ../contents/images.html
  include ../contents/tables.html
  include ../contents/figures.html
  include ../contents/forms.html
  include ../contents/input-group.html
  include ../contents/floating-labels.html
  include ../contents/form-layout.html
  include ../contents/form-validation.html
  include ../contents/accordion.html
  include ../contents/alerts.html
  include ../contents/badge.html
  include ../contents/breadcrumb.html
  include ../contents/buttons.html
  include ../contents/button-group.html
  include ../contents/button-plugin.html
  include ../contents/card.html
  include ../contents/carousel.html
  include ../contents/collapse.html
  include ../contents/dropdowns.html
  include ../contents/list-group.html
  include ../contents/modal.html
  include ../contents/navs-tabs-pills.html
  include ../contents/navbar.html
  include ../contents/pagination.html
  include ../contents/popovers.html
  include ../contents/progress.html
  include ../contents/scrollspy.html
  include ../contents/spinners.html
  include ../contents/toasts.html
  include ../contents/tooltips.html
  include ../contents/helpers.html
  include ../contents/utility-borders.html
  include ../contents/utility-colors.html
  include ../contents/utility-display.html
  include ../contents/utility-flex.html
  include ../contents/utility-misc.html
  include ../contents/utility-position.html
  include ../contents/utility-spacing.html
  include ../contents/utility-text.html
  //- include ../contents/alert.html

  //- modal snippet
  include ../contents/snippet.html
