//---------------------------------------------------------------------------------------------------------
    File Name: mixins.pug
    Description: Bootstrap 5 Mixins CheatSheet
  ---------------------------------------------------------------------------------------------------------//

extend ../base

block pageVars
  - var pageTitle    = "Mixins"

block content
  include ../contents/alert.html
