//---------------------------------------------------------------------------------------------------------
    File Name: mixins.pug
    Description: Bootstrap 5 Mixins CheatSheet
  ---------------------------------------------------------------------------------------------------------//

extend ../base

block pageVars
  - var pageTitle         = "Mixins"
  - var bodyCustomClass   = "bs-mixins"
  - var activeMenu        = "mixins"

block content
  include ../contents/mixins/rfs.html
  include ../contents/mixins/deprecate.html
  include ../contents/mixins/breakpoints.html
  include ../contents/mixins/image.html
  include ../contents/mixins/resize.html
  include ../contents/mixins/visually-hidden.html
  include ../contents/mixins/reset-text.html
  include ../contents/mixins/text-truncate.html
  include ../contents/mixins/utilities.html
  include ../contents/mixins/alert.html
  include ../contents/mixins/buttons.html
  include ../contents/mixins/caret.html
  include ../contents/mixins/pagination.html
  include ../contents/mixins/lists.html
  include ../contents/mixins/list-group.html
  include ../contents/mixins/forms.html
  include ../contents/mixins/table.html
  include ../contents/mixins/border-radius.html
  include ../contents/mixins/box-shadow.html
  include ../contents/mixins/gradients.html
  include ../contents/mixins/transition.html
  include ../contents/mixins/clearfix.html
  include ../contents/mixins/container.html
  include ../contents/mixins/grid.html

  include ../contents/snippet-mixins-vars.html
