//---------------------------------------------------------------------------------------------------------
    File Name: mixins.pug
    Description: Bootstrap 5 Mixins CheatSheet
  ---------------------------------------------------------------------------------------------------------//

extend ../base

block pageVars
  - var pageTitle         = "Mixins"
  - var bodyCustomClass   = "bs-mixins"

block content
  include ../contents/mixins/alerts.html

  include ../contents/snippet-mixins-vars.html
