//---------------------------------------------------------------------------------------------------------
    File Name: variables.pug
    Description: Bootstrap 5 Variables CheatSheet
  ---------------------------------------------------------------------------------------------------------//

extend ../base

block pageVars
  - var pageTitle         = "Variables"
  - var bodyCustomClass   = "bs-variables"
  - var activeMenu        = "variables"

block content
  include ../contents/variables/colors.html
  include ../contents/variables/enabling-features.html
  include ../contents/variables/spacers-position.html
  include ../contents/variables/body.html
  include ../contents/variables/links.html
  include ../contents/variables/grid.html
  include ../contents/variables/components.html
  include ../contents/variables/typography.html
  include ../contents/variables/tables.html
  include ../contents/variables/buttons-forms.html
  include ../contents/variables/buttons.html
  include ../contents/variables/form-input.html
  include ../contents/variables/form-check.html
  include ../contents/variables/form-switch.html
  include ../contents/variables/form-input-group.html
  include ../contents/variables/form-select.html
  include ../contents/variables/form-range.html
  include ../contents/variables/form-misc.html
  include ../contents/variables/form-validation.html
  include ../contents/variables/z-index.html
  include ../contents/variables/navs.html
  include ../contents/variables/navbar.html
  include ../contents/variables/dropdowns.html
  include ../contents/variables/pagination.html
  include ../contents/variables/cards.html
  include ../contents/variables/accordion.html
  include ../contents/variables/tooltips.html
  include ../contents/variables/popovers.html
  include ../contents/variables/toasts.html
  include ../contents/variables/badges.html
  include ../contents/variables/modals.html
  include ../contents/variables/alerts.html
  include ../contents/variables/offcanvas.html
  include ../contents/variables/progress-bars.html
  include ../contents/variables/list-group.html
  include ../contents/variables/image-thumbnails.html
  include ../contents/variables/figures.html
  include ../contents/variables/breadcrumbs.html
  include ../contents/variables/carousel.html
  include ../contents/variables/spinners.html
  include ../contents/variables/btn-close.html
  include ../contents/variables/code.html
  include ../contents/variables/misc.html


  include ../contents/snippet-mixins-vars.html
