//---------------------------------------------------------------------------------------------------------
    File Name: variables.pug
    Description: Bootstrap 5 Variables CheatSheet
  ---------------------------------------------------------------------------------------------------------//

extend ../base

block pageVars
  - var pageTitle    = "Variables"
  - var bodyCustomClass   = "bs-variables"

block content
  include ../contents/variables/alerts.html


  include ../contents/snippet-mixins-vars.html
