//---------------------------------------------------------------------------------------------------------
    File Name: variables.pug
    Description: Bootstrap 5 Variables CheatSheet
  ---------------------------------------------------------------------------------------------------------//

extend ../base

block pageVars
  - var pageTitle    = "Variables"

block content
  include ../contents/variables/alerts.html
