<div class="alert-tip">
  <div class="alert-tip-title">Tip</div>
  <ul class="m-0">
    <li><code>.col-*</code> where <code>*</code> value can be <code>{ sm | md | lg | xl | xxl }</code></li>
    <li><code>.col-#</code> where <code>#</code> value can be from <code>1 to 12</code></li>
    <li><code>.bg-{color}</code> where <code>color</code> value can be <code>{ primary | secondary | success | danger | warning | info | light | dark }</code></li>
    <li><code>.bd-highlight</code> class is for demo purpose only</li>
  </ul>
</div>
