//- Footer Structure

footer.footer
  span.mt-25
    | COPYRIGHT  &copy; #{new Date().getFullYear()}
    a(href='https://1.envato.market/pixinvent_portfolio', target='_blank', class="ml-25") Pixinvent
    | #[span.d-none.d-sm-inline-block , All rights Reserved]
  span.d-none.d-md-block
    | Hand-crafted & Made with
    i.text-danger(data-feather="heart")
