<!-- //- Footer Structure

footer.footer
  span.mt-25
    | COPYRIGHT  &copy; #{new Date().getFullYear()}
    a(href='https://1.envato.market/pixinvent_portfolio', target='_blank', class="ml-25") Pixinvent
    | #[span.d-none.d-sm-inline-block , All rights Reserved]
  span.d-none.d-md-block
    | Hand-crafted & Made with
    i.text-danger(data-feather="heart") -->

<footer class="cheatsheet-footer text-center text-sm-start">
  <div class="container">
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6"></div>
    </div>
    <ul class="footer-links">
      <li><a href="#">Admin Templates</a></li>
      <li><a href="#">Freebies</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Bootstrap Template</a></li>
      <li><a href="#">Bootstrap Theme</a></li>
    </ul>
  </div>
</footer>
