.bs-cheatsheet{
  .category{
    .card{
      border: 0;
      border-radius: 5px;
      box-shadow: 0 2px 16px -4px rgba($black, 0.22);
      background-color: $white;
      margin-bottom: 1.5rem;
      .card-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px 18px;
        border-radius: 5px;
        background-color: $card-head-bg;
        text-transform: uppercase;
        color: $white;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 1px;
        &:not(.collapsed){
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
        .item-link{
          color: $white;
        }
      }
      .card-body{
        padding:6px 0;
      }
      // list of categories
      .list-items{
        padding: 0;
        margin: 0;
        // each list item of categories
        .list-item{
          list-style: none;
          min-height: 32px;
          a.list-item-text{
            padding: 4px 56px 4px 18px;
            color: $item-color;
            font-weight: 400;
            flex-grow: 1;
            text-decoration: none;
          }
          &:hover{
            background-color: rgba($cheatsheet-primary, 0.08);
            a{
              color: $cheatsheet-primary;
            }
            .list-item-copy{
              display: flex;
              position: absolute;
              right: 0;
            }
          }
          &.active{
            background-color: $cheatsheet-primary;
            a{
              color: $white;
            }
          }
          .list-item-content{
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .list-item-copy{
            padding: 4px 4px 4px 0;
            display: none;
            a{
              padding-right: 9px;
              &:hover{
                cursor: pointer;
              }
            }
          }
          .code-snippet,
          .code-snippet-full{
            display: none;
          }
        }
      }
    }
  }
  // New in Bootstrap 5 highlight style
  &.show-highlight{
    .category .card .list-items .list-item{
      &.list-item-bs-new{
        background-color: $highlight-new-bg-color;
        a{
          color: $white;
        }
      }
    }
  }
}

// card collapse and collapsing transition
.collapse, .collapsing{
  transition: none !important;
}
// Variable page specific style
.bs-cheatsheet.bs-variables .category .card .list-items .list-item a.list-item-text{
  padding-right: 32px;
}
