// Editor & preview style
.bs-cheatsheet.modal-open{
  overflow: auto;
  margin-bottom: $modal-height;
  padding-right: 0 !important;
}
#editor, #preview{
  height: $snippet-height;
  margin-top: .75rem;
  border-radius: 5px;
}
#preview{
  overflow: auto;
}
