// Editor & preview style
.bs-cheatsheet.modal-open{
  overflow: auto !important;
  margin-bottom: $modal-height;
  padding-right: 0 !important;
}
// Preview Editors style
#editor, #preview, #preview-editor{
  height: $snippet-height;
  margin-top: .75rem;
  border-radius: 5px;
}
// component/elements preview to display output
#preview{
  overflow: auto;
}
// Variable page specific style
.bs-variables{
  #editor, #preview-editor{
    height: $snippet-variable-height;
  }
}
