// Body basic style
body{
  font-family: Montserrat;
  font-size: 1rem;
}

.cheatsheet-highlight{
  background-color: $highlight-color;
  color: $item-color;
}

.bs-content{
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}



@include media-breakpoint-down(md) {
 .bs-content{
   margin-top: 2rem;
 }
}
