$cheatsheet-primary: #7367F0;
$cheatsheet-text-color: #423e51;
$card-head-bg: #6C757D;
$item-color: #7B7885;
$highlight-color: yellow;
$highlight-new-bg-color: #7952b3;
$modal-header-color: #495057;
$modal-bg-color: #343A40;
$modal-btn-color: #32373C;
$modal-height: 400px;
$snippet-height: 260px;

$footer-bg: #E9ECEF;
