// Basic variables
$cheatsheet-primary: #7367F0;
$cheatsheet-text-color: #423e51;
$card-head-bg: #6C757D;
$item-color: #7B7885;
// highlight variables
$highlight-color: yellow;
$highlight-new-bg-color: #4C5DA8;
// modal variables
$modal-header-color: #495057;
$modal-bg-color: #343A40;
$modal-btn-color: #32373C;
$modal-height: 400px;
$modal-variable-height: 300px;
// snippet variables
$snippet-height: 260px;
$snippet-variable-height: 160px;
// footer variable
$footer-bg: #E9ECEF;
