block pageVars

meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui')
meta(name='description', content="Bootstrap 5 cheatsheet")
meta(name='keywords', content='bootstrap, bootstrap 5, cheatsheet, bootstrap cheatsheet, bootstrap 5 cheatsheet')
meta(name='author', content='CleVision')
title #{pageTitle} - Bootstrap 5 CheatSheet
link(rel='apple-touch-icon', href=app_assets_path+'/images/ico/apple-icon-120.png')
link(rel='shortcut icon', type="image/x-icon", href=app_assets_path+'/images/ico/favicon.ico')
link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet")
link(href="https://getbootstrap.com/docs/5.0/assets/css/docs.css" rel="stylesheet")
