// BEGIN: App JS
script(src='node_modules/jquery/dist/jquery.min.js')
script(src='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')
script(src='node_modules/ace-builds/src-min/ace.js')
script(src=app_assets_path+'/js/cheatsheet.js')
script(src=app_assets_path+'/js/shuffle.js')
// END: App JS
