// BEGIN: App JS
script(src='node_modules/jquery/dist/jquery.min.js')
script(src='node_modules/bootstrap/dist/js/bootstrap.bundle.min.js')
script(src='node_modules/ace-builds/src-min/ace.js')
script(src=app_assets_path+'/js/cheatsheet.js')
script(src=app_assets_path+'/js/shuffle.js')
<!-- Go to www.addthis.com/dashboard to customize your tools -->
script(src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58d9fa1af7a79649")
// END: App JS
